html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #1e1e1e;
}

#header {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  color: #bb86fc;
  margin: 38px;
}

#map {
  width: 80vw;
  height: 40vh;
  margin: auto;
  border: thin solid #bb86fc;
  border-radius: 20px;
  box-shadow: 0px 0px 8px #bb86fc;
}

#container h2 {
  color: #bb86fc;
  margin: 28px;
  margin-left: 10vw;
  font-size: 24px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#capture #display-title {
  color: #bb86fc;
  margin: 28px;
  margin-left: 10vw;
}

#results {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 80vw;
}

#results .thumbnail {
  height: 130px;
  width: 130px;
  border-radius: 20px;
}

#results .title {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.video-wrapper {
  display: flex;
  align-items: flex-start;
  width: 35vw;
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 20px;
}

.video-wrapper:hover {
  cursor: pointer;
  background-color: #9f9f9f;
  color: #fff;
}

.video-title {
  font-size: 24px;
  line-height: 20px;
  color: #e5e5e5;
  margin: 10px 15px;
  /* text-align: center; */
}

/* #results {
  display: flex;
  flex-direction: column;
  width: 80vw;
  flex-wrap: wrap;
  margin: auto;
} */

.ico {
  width: 130px;
  height: 130px;
  background-color: #494949;
  border-radius: 20px;
}

.ico-wrapper {
  display: flex;
  width: 35vw;
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 20px;
}

.ico-text {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  gap: 20px;
}

.text1 {
  width: 250px;
  height: 15px;
  background-color: #494949;
}

.text2 {
  width: 150px;
  height: 15px;
  background-color: #494949;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.backdropVid {
  display: block;
  width: 60%;
  height: 80%;
  margin: 60px auto;
  border-radius: 20px;
  border: 3px solid #494949;
}

@media only screen and (max-width: 600px) {
  .backdropVid {
    display: block;
    width: 100%;
    height: 40%;
    margin: 20vh auto;
  }

  .video-wrapper {
    display: flex;
    align-items: flex-start;
    width: 90vw;
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 20px;
  }

  .ico-wrapper {
    display: flex;
    width: 90vw;
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 20px;
    margin: 10px auto;
    box-sizing: border-box;
  }

  .video-title {
    font-size: 14px;
    line-height: 14px;
    color: #e5e5e5;
    margin: 10px 15px;
    /* text-align: center; */
  }

  #results {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 100vw;
  }

  .ico-text {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    gap: 20px;
  }

  .text1 {
    width: 200px;
    height: 15px;
    background-color: #494949;
  }

  .text2 {
    width: 150px;
    height: 15px;
    background-color: #494949;
  }
}
